html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family:  'Roboto Slab', Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #f3f3f3;
    gap: 20px;
    border-top: 2px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
    border-left: none;
    border-right: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    width: 100%;
}

#logo {
    height: 50px; 
    width: auto; 
    margin-right: 20px; 
}

main {
    padding: 2rem;
    flex: 1;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}


.project-card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease;
}
.project-card:hover {
border-color: lightseagreen;
}
.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


#about-me {
    text-align: center; 
    padding: 2rem; 
}

.about-me-pic {
    width: 350px; 
    height: 350px; 
    border-radius: 50%; 
    border:3px solid lightseagreen;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    object-fit: cover;
    object-position: center 10%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.about-me-pic:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 2); 
}

#about-me p {
    line-height: 1.6;
    font-size: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}


#projects.hidden {
    transform: translateX(100%); 
    transition: transform 1s ease;
}

#projects {
    transform: translateX(0); 
    transition: transform 1s ease-out;
}

#contact {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
}

#contact h2 {
    margin-bottom: 1rem;
}

#contact p {
    margin-bottom: 1.5rem;
}

nav {
    padding: 1rem;
    text-align: center; 
}


.button {
    display: inline-block;
    background-color: lightseagreen; 
    color: white;
    border: none;
    padding: 0.5rem 1rem; 
    margin: 0.25rem; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s; 
}

.button:hover, .button:focus {
    background-color: #166e69; 
    transform: scale(1.05); 
    outline: none; 
}

.button:active {
    transform: scale(0.95); 
}

@media (max-width: 600px) {
    body {
        font-size: 16px; 
    }

    h1 {
        font-size: 24px; 
    }

    h2, h3 {
        font-size: 20px; 
    }

    .about-me-pic {
        width: 250px; 
        height: 250px;
    }

    #about-me p, #contact p {
        font-size: 18px; 
        padding: 0 10px; 
    }

    #projects, .project-card {
        width: 100%;
        display: block; 
    }

    nav button, .button {
        padding: 0.5rem; 
        font-size: 14px; 
        margin: 0.1rem; 
    }
}
